html {
    background-color: #626c66;
    max-width: 1140px;
    display: flex;
}

.gridwrapper {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(11, 12vh) 45px;
    grid-column-gap: 1em;
    grid-row-gap: 1.25em;
    justify-content: center;
    grid-template-areas:
        "title1 title1 title1"
        "title1 title1 title1"
        "title1 title1 title1"
        "updates updates meetups"
        "updates updates meetups"
        "updates updates meetups"
        "updates updates meetups"
        "membergear membergear membergear"
        "membergear membergear membergear"
        "members members members"
        "members members members"
        "footer footer footer";
}

body {
    font-size: 1.25em;
    font-family: 'Arvo', serif;
    margin: 1em;
    background-color: #424a42;
    display: flex;
}

#title {
    font-size: 2.5em;
    font-family: 'JetBrains Mono', monospace;
    font-weight: 700;
    background-image: url(assets/title.png);
    background-size: 100%;
    background-repeat: no-repeat;
    grid-area: title1;
    padding-left: .5em;
    padding-top: .15em;
}


h1 {
    font-size: 1.75em;
    font-family: 'JetBrains Mono', monospace;
    margin-top: .25em;
    margin-bottom: .25em;
}

#updates {
    grid-area: updates;
    background-color: #e1ca96;
    margin-left: 1em;
    padding-left: .5em;
}

#meetups {
    grid-area: meetups;
    background-color: #aca885;
    color: #FFF;
    margin-right: 1em;
    padding-left: .5em;
}

#membergear {
    display: flex;
    flex-direction: row;
    grid-area: membergear;
    background-color: #aca885;
    color: #FFF;
}

.gearimg {
    display: flex;
    justify-content: flex-end;
}

.gearimg img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#members {
    grid-area: members;
    display: flex;
    flex-direction: row;
    background-color: #e1ca96;
    color: #000;
}

.memberimg img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#footer {
    display: flex;
    grid-area: footer;
    justify-content: center;
}



